interactions:
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products?%24filter=externalIDs%2FAny%28i%3Ai%2Ftype+eq+%27AzureOfferId%27+and+i%2Fvalue+eq+%27clitest000004%27%29
  response:
    body:
      string: '{"value":[{"resourceType":"AzureContainer","name":"clitest000004 Alias","externalIDs":[{"type":"AzureOfferId","value":"clitest000004"}],"isModularPublishing":true,"id":"cc46a7bf-d8ca-4ee5-bfde-33a85fef179b"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/cc46a7bf-d8ca-4ee5-bfde-33a85fef179b/branches/getByModule(module=Listing)
  response:
    body:
      string: '{"value":[{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"9f962fc7-3c11-1b10-da8c-0d2860885f3b"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/cc46a7bf-d8ca-4ee5-bfde-33a85fef179b/listings/getByInstanceID(instanceID=9f962fc7-3c11-1b10-da8c-0d2860885f3b)
  response:
    body:
      string: '{"value":[{"resourceType":"AzureListing","listingUris":[],"listingContacts":[],"gettingStartedInstructions":"","languageCode":"en-us","title":"clitest000004
        Alias","keywords":[],"@odata.etag":"\"00002a6f-0000-0800-0000-63c00fff0000\"","id":"e0720848-da1a-8230-c468-cc2be1e965d5"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureListing", "description": "desc-000003", "title":
      "clitest000004 Alias", "summary": "summary-000001", "shortDescription": "short-desc-000002",
      "@odata.etag": "\"00002a6f-0000-0800-0000-63c00fff0000\"", "listingUris": [],
      "listingContacts": []}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/cc46a7bf-d8ca-4ee5-bfde-33a85fef179b/listings/e0720848-da1a-8230-c468-cc2be1e965d5
  response:
    body:
      string: '{"resourceType":"AzureListing","summary":"summary-000001","listingUris":[],"listingContacts":[],"languageCode":"en-us","title":"clitest000004
        Alias","description":"desc-000003","shortDescription":"short-desc-000002","@odata.etag":"\"0000306f-0000-0800-0000-63c010070000\"","id":"e0720848-da1a-8230-c468-cc2be1e965d5"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000306f-0000-0800-0000-63c010070000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/cc46a7bf-d8ca-4ee5-bfde-33a85fef179b/listings/getByInstanceID(instanceID=9f962fc7-3c11-1b10-da8c-0d2860885f3b)
  response:
    body:
      string: '{"value":[{"resourceType":"AzureListing","summary":"summary-000001","listingUris":[],"listingContacts":[],"languageCode":"en-us","title":"clitest000004
        Alias","description":"desc-000003","shortDescription":"short-desc-000002","@odata.etag":"\"0000306f-0000-0800-0000-63c010070000\"","id":"e0720848-da1a-8230-c468-cc2be1e965d5"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
