interactions:
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products?%24filter=externalIDs%2FAny%28i%3Ai%2Ftype+eq+%27AzureOfferId%27+and+i%2Fvalue+eq+%27clitest000002%27%29
  response:
    body:
      string: '{"value":[{"resourceType":"AzureContainer","name":"clitest000002 Alias","externalIDs":[{"type":"AzureOfferId","value":"clitest000002"}],"isModularPublishing":true,"id":"1afb0b30-9471-40f1-b113-0058cd6510a5"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/1afb0b30-9471-40f1-b113-0058cd6510a5/branches/getByModule(module=Listing)
  response:
    body:
      string: '{"value":[{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"2fc3521a-b61c-3aef-57f5-1a63ad39dcc6"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/1afb0b30-9471-40f1-b113-0058cd6510a5/variants
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureSkuVariant", "friendlyName": "plantest-000001 name",
      "externalID": "plantest-000001"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: POST
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/1afb0b30-9471-40f1-b113-0058cd6510a5/variants
  response:
    body:
      string: '{"resourceType":"AzureSkuVariant","state":"Active","friendlyName":"plantest-000001
        name","conversionPaths":"*","externalID":"plantest-000001","certificationsAzureGovernment":[],"cloudAvailabilities":["public-azure"],"extendedProperties":[],"@odata.etag":"\"530057fd-0000-0800-0000-6802713e0000\"","id":"e434df35-0bdd-4023-b4e9-84ba80b0d246"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"530057fd-0000-0800-0000-6802713e0000"'
      location:
      - https://api.partner.microsoft.com/v1.0/ingestion/products/1afb0b30-9471-40f1-b113-0058cd6510a5/variants/e434df35-0bdd-4023-b4e9-84ba80b0d246
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/1afb0b30-9471-40f1-b113-0058cd6510a5/branches/getByModule(module=Listing)
  response:
    body:
      string: '{"value":[{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"2fc3521a-b61c-3aef-57f5-1a63ad39dcc6"},{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"ec25c822-d3ce-8dc9-493b-96093d2b9035","variantID":"e434df35-0bdd-4023-b4e9-84ba80b0d246"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/1afb0b30-9471-40f1-b113-0058cd6510a5/listings/getByInstanceID(instanceID=ec25c822-d3ce-8dc9-493b-96093d2b9035)
  response:
    body:
      string: '{"value":[{"resourceType":"AzureListing","listingUris":[],"listingContacts":[],"gettingStartedInstructions":"","languageCode":"en-us","title":"plantest-000001
        name","keywords":[],"@odata.etag":"\"6a02e9c9-0000-0800-0000-680271400000\"","id":"158ac3d3-ba1d-f4e7-74f2-eaeba259e85f"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureListing", "listingUris": [], "listingContacts":
      [], "gettingStartedInstructions": "", "languageCode": "en-us", "title": "updated
      name", "keywords": [], "@odata.etag": "\"6a02e9c9-0000-0800-0000-680271400000\"",
      "ID": "158ac3d3-ba1d-f4e7-74f2-eaeba259e85f", "shortDescription": "updated summary",
      "description": "updated description"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/1afb0b30-9471-40f1-b113-0058cd6510a5/listings/158ac3d3-ba1d-f4e7-74f2-eaeba259e85f
  response:
    body:
      string: '{"resourceType":"AzureListing","listingUris":[],"listingContacts":[],"gettingStartedInstructions":"","languageCode":"en-us","title":"updated
        name","description":"updated description","shortDescription":"updated summary","keywords":[],"@odata.etag":"\"6a0283cb-0000-0800-0000-680271470000\"","id":"158ac3d3-ba1d-f4e7-74f2-eaeba259e85f"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"6a0283cb-0000-0800-0000-680271470000"'
    status:
      code: 200
      message: OK
version: 1
