interactions:
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products?%24filter=externalIDs%2FAny%28i%3Ai%2Ftype+eq+%27AzureOfferId%27+and+i%2Fvalue+eq+%27clitest000002%27%29
  response:
    body:
      string: '{"value":[{"resourceType":"AzureContainer","name":"clitest000002 Alias","externalIDs":[{"type":"AzureOfferId","value":"clitest000002"}],"isModularPublishing":true,"id":"b64138f2-9006-4227-aaf5-daf5edd070e5"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/b64138f2-9006-4227-aaf5-daf5edd070e5/branches/getByModule(module=Listing)
  response:
    body:
      string: '{"value":[{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"d2d1955d-0eaa-350e-e3c9-b10ebb66549e"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/b64138f2-9006-4227-aaf5-daf5edd070e5/listings/getByInstanceID(instanceID=d2d1955d-0eaa-350e-e3c9-b10ebb66549e)
  response:
    body:
      string: '{"value":[{"resourceType":"AzureListing","listingUris":[],"listingContacts":[],"gettingStartedInstructions":"","languageCode":"en-us","title":"clitest000002
        Alias","keywords":[],"@odata.etag":"\"2f03a348-0000-0800-0000-6391e9fa0000\"","id":"1f09d23e-ce97-ee37-f133-15d504c1f453"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureListing", "description": "", "title": "clitest000002
      Alias", "summary": "", "shortDescription": "", "@odata.etag": "\"2f03a348-0000-0800-0000-6391e9fa0000\"",
      "listingUris": [{"type": "PrivacyUri", "subtype": "SubTypeUri", "displayText":
      "dt-000001", "uri": "https://testuri"}], "listingContacts": []}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/b64138f2-9006-4227-aaf5-daf5edd070e5/listings/1f09d23e-ce97-ee37-f133-15d504c1f453
  response:
    body:
      string: '{"resourceType":"AzureListing","summary":"","listingUris":[{"type":"PrivacyUri","subtype":"SubTypeUri","displayText":"dt-000001","uri":"https://testuri"}],"listingContacts":[],"languageCode":"en-us","title":"clitest000002
        Alias","description":"","shortDescription":"","@odata.etag":"\"2f03b148-0000-0800-0000-6391ea050000\"","id":"1f09d23e-ce97-ee37-f133-15d504c1f453"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2f03b148-0000-0800-0000-6391ea050000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureListing", "description": "", "title": "clitest000002
      Alias", "summary": "", "shortDescription": "", "@odata.etag": "\"2f03b148-0000-0800-0000-6391ea050000\"",
      "listingUris": [], "listingContacts": []}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/b64138f2-9006-4227-aaf5-daf5edd070e5/listings/1f09d23e-ce97-ee37-f133-15d504c1f453
  response:
    body:
      string: '{"resourceType":"AzureListing","summary":"","listingUris":[],"listingContacts":[],"languageCode":"en-us","title":"clitest000002
        Alias","description":"","shortDescription":"","@odata.etag":"\"2f03bf48-0000-0800-0000-6391ea0e0000\"","id":"1f09d23e-ce97-ee37-f133-15d504c1f453"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2f03bf48-0000-0800-0000-6391ea0e0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/b64138f2-9006-4227-aaf5-daf5edd070e5/listings/getByInstanceID(instanceID=d2d1955d-0eaa-350e-e3c9-b10ebb66549e)
  response:
    body:
      string: '{"value":[{"resourceType":"AzureListing","summary":"","listingUris":[],"listingContacts":[],"languageCode":"en-us","title":"clitest000002
        Alias","description":"","shortDescription":"","@odata.etag":"\"2f03bf48-0000-0800-0000-6391ea0e0000\"","id":"1f09d23e-ce97-ee37-f133-15d504c1f453"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
