interactions:
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products?%24filter=externalIDs%2FAny%28i%3Ai%2Ftype+eq+%27AzureOfferId%27+and+i%2Fvalue+eq+%27clitest000002%27%29
  response:
    body:
      string: '{"value":[{"resourceType":"AzureContainer","name":"clitest000002 Alias","externalIDs":[{"type":"AzureOfferId","value":"clitest000002"}],"isModularPublishing":true,"id":"725d0fcd-ad57-42cc-b438-274dfc053a74"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/725d0fcd-ad57-42cc-b438-274dfc053a74/branches/getByModule(module=Listing)
  response:
    body:
      string: '{"value":[{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"268ea99d-2f37-de68-2ba2-9b36a68fa235"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/725d0fcd-ad57-42cc-b438-274dfc053a74/variants
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureSkuVariant", "friendlyName": "plantest-000001 name",
      "externalID": "plantest-000001"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: POST
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/725d0fcd-ad57-42cc-b438-274dfc053a74/variants
  response:
    body:
      string: '{"resourceType":"AzureSkuVariant","state":"Active","friendlyName":"plantest-000001
        name","conversionPaths":"*","externalID":"plantest-000001","certificationsAzureGovernment":[],"cloudAvailabilities":["public-azure"],"extendedProperties":[],"@odata.etag":"\"96060d62-0000-0800-0000-648f875a0000\"","id":"c4b63795-6249-41f4-bb4b-4f1bf43cbf91"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"96060d62-0000-0800-0000-648f875a0000"'
      location:
      - https://api.partner.microsoft.com/v1.0/ingestion/products/725d0fcd-ad57-42cc-b438-274dfc053a74/variants/c4b63795-6249-41f4-bb4b-4f1bf43cbf91
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/725d0fcd-ad57-42cc-b438-274dfc053a74/branches/getByModule(module=Listing)
  response:
    body:
      string: '{"value":[{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"268ea99d-2f37-de68-2ba2-9b36a68fa235"},{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"fd4ea12d-4434-fce1-0fbd-49f195caf23d","variantID":"c4b63795-6249-41f4-bb4b-4f1bf43cbf91"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/725d0fcd-ad57-42cc-b438-274dfc053a74/listings/getByInstanceID(instanceID=fd4ea12d-4434-fce1-0fbd-49f195caf23d)
  response:
    body:
      string: '{"value":[{"resourceType":"AzureListing","listingUris":[],"listingContacts":[],"gettingStartedInstructions":"","languageCode":"en-us","title":"plantest-000001
        name","keywords":[],"@odata.etag":"\"470b8e79-0000-0800-0000-648f875a0000\"","id":"168d3729-c9ba-d75f-8998-1eaa5a75eb24"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureListing", "listingUris": [], "listingContacts":
      [], "gettingStartedInstructions": "", "languageCode": "en-us", "title": "updated
      name", "keywords": [], "@odata.etag": "\"470b8e79-0000-0800-0000-648f875a0000\"",
      "ID": "168d3729-c9ba-d75f-8998-1eaa5a75eb24", "shortDescription": "updated summary",
      "description": "updated description"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/725d0fcd-ad57-42cc-b438-274dfc053a74/listings/168d3729-c9ba-d75f-8998-1eaa5a75eb24
  response:
    body:
      string: '{"resourceType":"AzureListing","listingUris":[],"listingContacts":[],"gettingStartedInstructions":"","languageCode":"en-us","title":"updated
        name","description":"updated description","shortDescription":"updated summary","keywords":[],"@odata.etag":"\"470bd17c-0000-0800-0000-648f87660000\"","id":"168d3729-c9ba-d75f-8998-1eaa5a75eb24"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"470bd17c-0000-0800-0000-648f87660000"'
    status:
      code: 200
      message: OK
version: 1
