interactions:
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products?%24filter=externalIDs%2FAny%28i%3Ai%2Ftype+eq+%27AzureOfferId%27+and+i%2Fvalue+eq+%27clitest000002%27%29
  response:
    body:
      string: '{"value":[{"resourceType":"AzureContainer","name":"clitest000002 Alias","externalIDs":[{"type":"AzureOfferId","value":"clitest000002"}],"isModularPublishing":true,"id":"20880f47-d847-47c8-8a47-8557aade23c1"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/20880f47-d847-47c8-8a47-8557aade23c1/branches/getByModule(module=Listing)
  response:
    body:
      string: '{"value":[{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"0bfb8a6c-3940-62a9-7d16-77e62bce815d"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/20880f47-d847-47c8-8a47-8557aade23c1/listings/getByInstanceID(instanceID=0bfb8a6c-3940-62a9-7d16-77e62bce815d)
  response:
    body:
      string: '{"value":[{"resourceType":"AzureListing","listingUris":[],"listingContacts":[],"gettingStartedInstructions":"","languageCode":"en-us","title":"clitest000002
        Alias","keywords":[],"@odata.etag":"\"2c002fa3-0000-0800-0000-65a03f850000\"","id":"4be52c95-c16b-bf92-7144-0d97aba1781c"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureListing", "description": "", "title": "clitest000002
      Alias", "summary": "", "shortDescription": "", "@odata.etag": "\"2c002fa3-0000-0800-0000-65a03f850000\"",
      "listingUris": [{"type": "PrivacyUri", "subtype": "SubTypeUri", "displayText":
      "dt-000001", "uri": "https://testuri"}], "listingContacts": []}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/20880f47-d847-47c8-8a47-8557aade23c1/listings/4be52c95-c16b-bf92-7144-0d97aba1781c
  response:
    body:
      string: '{"resourceType":"AzureListing","summary":"","listingUris":[{"type":"PrivacyUri","subtype":"SubTypeUri","displayText":"dt-000001","uri":"https://testuri"}],"listingContacts":[],"languageCode":"en-us","title":"clitest000002
        Alias","description":"","shortDescription":"","@odata.etag":"\"2c00b5a3-0000-0800-0000-65a03f910000\"","id":"4be52c95-c16b-bf92-7144-0d97aba1781c"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2c00b5a3-0000-0800-0000-65a03f910000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureListing", "description": "", "title": "clitest000002
      Alias", "summary": "", "shortDescription": "", "@odata.etag": "\"2c00b5a3-0000-0800-0000-65a03f910000\"",
      "listingUris": [], "listingContacts": []}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/20880f47-d847-47c8-8a47-8557aade23c1/listings/4be52c95-c16b-bf92-7144-0d97aba1781c
  response:
    body:
      string: '{"resourceType":"AzureListing","summary":"","listingUris":[],"listingContacts":[],"languageCode":"en-us","title":"clitest000002
        Alias","description":"","shortDescription":"","@odata.etag":"\"2c0047a4-0000-0800-0000-65a03f990000\"","id":"4be52c95-c16b-bf92-7144-0d97aba1781c"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2c0047a4-0000-0800-0000-65a03f990000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/20880f47-d847-47c8-8a47-8557aade23c1/listings/getByInstanceID(instanceID=0bfb8a6c-3940-62a9-7d16-77e62bce815d)
  response:
    body:
      string: '{"value":[{"resourceType":"AzureListing","summary":"","listingUris":[],"listingContacts":[],"languageCode":"en-us","title":"clitest000002
        Alias","description":"","shortDescription":"","@odata.etag":"\"2c0047a4-0000-0800-0000-65a03f990000\"","id":"4be52c95-c16b-bf92-7144-0d97aba1781c"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
