interactions:
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products?%24filter=externalIDs%2FAny%28i%3Ai%2Ftype+eq+%27AzureOfferId%27+and+i%2Fvalue+eq+%27clitest000002%27%29
  response:
    body:
      string: '{"value":[{"resourceType":"AzureContainer","name":"clitest000002 Alias","externalIDs":[{"type":"AzureOfferId","value":"clitest000002"}],"isModularPublishing":true,"id":"1ee87050-2406-4183-b24f-5b7db4f56300"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/1ee87050-2406-4183-b24f-5b7db4f56300/branches/getByModule(module=Listing)
  response:
    body:
      string: '{"value":[{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"1d0d8fb1-78f4-0b38-9721-0fdce3cfac7f"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/1ee87050-2406-4183-b24f-5b7db4f56300/listings/getByInstanceID(instanceID=1d0d8fb1-78f4-0b38-9721-0fdce3cfac7f)
  response:
    body:
      string: '{"value":[{"resourceType":"AzureListing","listingUris":[],"listingContacts":[],"gettingStartedInstructions":"","languageCode":"en-us","title":"clitest000002
        Alias","keywords":[],"@odata.etag":"\"060a3d93-0000-0800-0000-648f87240000\"","id":"7fbf003a-2225-afc4-6436-ef839bbaf7dd"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureListing", "description": "", "title": "clitest000002
      Alias", "summary": "", "shortDescription": "", "@odata.etag": "\"060a3d93-0000-0800-0000-648f87240000\"",
      "listingUris": [], "listingContacts": [{"type": "Engineering", "email": "test@contoso.com",
      "name": "Jane Doe000001", "phone": "1230987654", "uri": "https://test.contact.uri"}]}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/1ee87050-2406-4183-b24f-5b7db4f56300/listings/7fbf003a-2225-afc4-6436-ef839bbaf7dd
  response:
    body:
      string: '{"resourceType":"AzureListing","summary":"","listingUris":[],"listingContacts":[{"type":"Engineering","email":"test@contoso.com","name":"Jane
        Doe000001","phone":"1230987654","uri":"https://test.contact.uri"}],"languageCode":"en-us","title":"clitest000002
        Alias","description":"","shortDescription":"","@odata.etag":"\"060ad894-0000-0800-0000-648f87320000\"","id":"7fbf003a-2225-afc4-6436-ef839bbaf7dd"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"060ad894-0000-0800-0000-648f87320000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureListing", "description": "", "title": "clitest000002
      Alias", "summary": "", "shortDescription": "", "@odata.etag": "\"060ad894-0000-0800-0000-648f87320000\"",
      "listingUris": [], "listingContacts": []}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/1ee87050-2406-4183-b24f-5b7db4f56300/listings/7fbf003a-2225-afc4-6436-ef839bbaf7dd
  response:
    body:
      string: '{"resourceType":"AzureListing","summary":"","listingUris":[],"listingContacts":[],"languageCode":"en-us","title":"clitest000002
        Alias","description":"","shortDescription":"","@odata.etag":"\"060a3f96-0000-0800-0000-648f873b0000\"","id":"7fbf003a-2225-afc4-6436-ef839bbaf7dd"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"060a3f96-0000-0800-0000-648f873b0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/1ee87050-2406-4183-b24f-5b7db4f56300/listings/getByInstanceID(instanceID=1d0d8fb1-78f4-0b38-9721-0fdce3cfac7f)
  response:
    body:
      string: '{"value":[{"resourceType":"AzureListing","summary":"","listingUris":[],"listingContacts":[],"languageCode":"en-us","title":"clitest000002
        Alias","description":"","shortDescription":"","@odata.etag":"\"060a3f96-0000-0800-0000-648f873b0000\"","id":"7fbf003a-2225-afc4-6436-ef839bbaf7dd"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
