interactions:
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products?%24filter=externalIDs%2FAny%28i%3Ai%2Ftype+eq+%27AzureOfferId%27+and+i%2Fvalue+eq+%27clitest000002%27%29
  response:
    body:
      string: '{"value":[{"resourceType":"AzureContainer","name":"clitest000002 Alias","externalIDs":[{"type":"AzureOfferId","value":"clitest000002"}],"isModularPublishing":true,"id":"bfd24257-b648-4167-a823-a7d118901357"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/bfd24257-b648-4167-a823-a7d118901357/branches/getByModule(module=Listing)
  response:
    body:
      string: '{"value":[{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"8ad7b067-be52-5061-707c-48c8c7c7b6c0"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/bfd24257-b648-4167-a823-a7d118901357/variants
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureSkuVariant", "friendlyName": "plantest-000001 name",
      "externalID": "plantest-000001"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: POST
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/bfd24257-b648-4167-a823-a7d118901357/variants
  response:
    body:
      string: '{"resourceType":"AzureSkuVariant","state":"Active","friendlyName":"plantest-000001
        name","conversionPaths":"*","externalID":"plantest-000001","certificationsAzureGovernment":[],"cloudAvailabilities":["public-azure"],"extendedProperties":[],"@odata.etag":"\"520099fa-0000-0800-0000-6802527f0000\"","id":"aad0b3bb-aecc-4404-9919-7bc9c935ed09"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"520099fa-0000-0800-0000-6802527f0000"'
      location:
      - https://api.partner.microsoft.com/v1.0/ingestion/products/bfd24257-b648-4167-a823-a7d118901357/variants/aad0b3bb-aecc-4404-9919-7bc9c935ed09
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/bfd24257-b648-4167-a823-a7d118901357/branches/getByModule(module=Listing)
  response:
    body:
      string: '{"value":[{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"8ad7b067-be52-5061-707c-48c8c7c7b6c0"},{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"fca712fc-6b2e-7919-aba6-6e71a3eddcf9","variantID":"aad0b3bb-aecc-4404-9919-7bc9c935ed09"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/bfd24257-b648-4167-a823-a7d118901357/listings/getByInstanceID(instanceID=fca712fc-6b2e-7919-aba6-6e71a3eddcf9)
  response:
    body:
      string: '{"value":[{"resourceType":"AzureListing","listingUris":[],"listingContacts":[],"gettingStartedInstructions":"","languageCode":"en-us","title":"plantest-000001
        name","keywords":[],"@odata.etag":"\"5b015c3c-0000-0800-0000-680252810000\"","id":"89f23c7b-7d14-4f78-ef17-628f6fee3338"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureListing", "listingUris": [], "listingContacts":
      [], "gettingStartedInstructions": "", "languageCode": "en-us", "title": "updated
      name", "keywords": [], "@odata.etag": "\"5b015c3c-0000-0800-0000-680252810000\"",
      "ID": "89f23c7b-7d14-4f78-ef17-628f6fee3338", "shortDescription": "updated summary",
      "description": "updated description"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/bfd24257-b648-4167-a823-a7d118901357/listings/89f23c7b-7d14-4f78-ef17-628f6fee3338
  response:
    body:
      string: '{"resourceType":"AzureListing","listingUris":[],"listingContacts":[],"gettingStartedInstructions":"","languageCode":"en-us","title":"updated
        name","description":"updated description","shortDescription":"updated summary","keywords":[],"@odata.etag":"\"5b01dc3d-0000-0800-0000-680252880000\"","id":"89f23c7b-7d14-4f78-ef17-628f6fee3338"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5b01dc3d-0000-0800-0000-680252880000"'
    status:
      code: 200
      message: OK
version: 1
