interactions:
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products?%24filter=externalIDs%2FAny%28i%3Ai%2Ftype+eq+%27AzureOfferId%27+and+i%2Fvalue+eq+%27clitest000002%27%29
  response:
    body:
      string: '{"value":[{"resourceType":"AzureContainer","name":"clitest000002 Alias","externalIDs":[{"type":"AzureOfferId","value":"clitest000002"}],"isModularPublishing":true,"id":"0168442f-dcfd-4e3a-b1cf-767b01d87c58"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/0168442f-dcfd-4e3a-b1cf-767b01d87c58/branches/getByModule(module=Listing)
  response:
    body:
      string: '{"value":[{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"7fe9b16b-4681-edbb-edef-40ec320ae1b6"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/0168442f-dcfd-4e3a-b1cf-767b01d87c58/listings/getByInstanceID(instanceID=7fe9b16b-4681-edbb-edef-40ec320ae1b6)
  response:
    body:
      string: '{"value":[{"resourceType":"AzureListing","listingUris":[],"listingContacts":[],"gettingStartedInstructions":"","languageCode":"en-us","title":"clitest000002
        Alias","keywords":[],"@odata.etag":"\"3f0355ca-0000-0800-0000-6802710c0000\"","id":"bb5c11bd-17dd-adb4-4aa4-2c207c1f3240"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureListing", "description": "", "title": "clitest000002
      Alias", "summary": "", "shortDescription": "", "@odata.etag": "\"3f0355ca-0000-0800-0000-6802710c0000\"",
      "listingUris": [{"type": "PrivacyUri", "subtype": "SubTypeUri", "displayText":
      "dt-000001", "uri": "https://testuri"}], "listingContacts": []}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/0168442f-dcfd-4e3a-b1cf-767b01d87c58/listings/bb5c11bd-17dd-adb4-4aa4-2c207c1f3240
  response:
    body:
      string: '{"resourceType":"AzureListing","summary":"","listingUris":[{"type":"PrivacyUri","subtype":"SubTypeUri","displayText":"dt-000001","uri":"https://testuri"}],"listingContacts":[],"languageCode":"en-us","title":"clitest000002
        Alias","description":"","shortDescription":"","@odata.etag":"\"3f03a0cd-0000-0800-0000-680271180000\"","id":"bb5c11bd-17dd-adb4-4aa4-2c207c1f3240"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3f03a0cd-0000-0800-0000-680271180000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureListing", "description": "", "title": "clitest000002
      Alias", "summary": "", "shortDescription": "", "@odata.etag": "\"3f03a0cd-0000-0800-0000-680271180000\"",
      "listingUris": [], "listingContacts": []}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/0168442f-dcfd-4e3a-b1cf-767b01d87c58/listings/bb5c11bd-17dd-adb4-4aa4-2c207c1f3240
  response:
    body:
      string: '{"resourceType":"AzureListing","summary":"","listingUris":[],"listingContacts":[],"languageCode":"en-us","title":"clitest000002
        Alias","description":"","shortDescription":"","@odata.etag":"\"3f03ecd1-0000-0800-0000-680271200000\"","id":"bb5c11bd-17dd-adb4-4aa4-2c207c1f3240"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3f03ecd1-0000-0800-0000-680271200000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/0168442f-dcfd-4e3a-b1cf-767b01d87c58/listings/getByInstanceID(instanceID=7fe9b16b-4681-edbb-edef-40ec320ae1b6)
  response:
    body:
      string: '{"value":[{"resourceType":"AzureListing","summary":"","listingUris":[],"listingContacts":[],"languageCode":"en-us","title":"clitest000002
        Alias","description":"","shortDescription":"","@odata.etag":"\"3f03ecd1-0000-0800-0000-680271200000\"","id":"bb5c11bd-17dd-adb4-4aa4-2c207c1f3240"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
