interactions:
- request:
    body: '{"externalIds": [{"type": "AzureOfferID", "value": "o000001"}], "name":
      "oa000002", "resourceType": "AzureContainer", "ID": "o000001", "isModularPublishing":
      true}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: POST
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products
  response:
    body:
      string: '{"resourceType":"AzureContainer","name":"oa000002","externalIDs":[{"type":"AzureOfferId","value":"o000001"}],"isModularPublishing":true,"id":"8a79eeec-1c77-4d4c-9c7c-f257e12421d8"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://api.partner.microsoft.com/v1.0/ingestion/products/8a79eeec-1c77-4d4c-9c7c-f257e12421d8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products?%24filter=externalIDs%2FAny%28i%3Ai%2Ftype+eq+%27AzureOfferId%27+and+i%2Fvalue+eq+%27o000001%27%29
  response:
    body:
      string: '{"value":[{"resourceType":"AzureContainer","name":"oa000002","externalIDs":[{"type":"AzureOfferId","value":"o000001"}],"isModularPublishing":true,"id":"8a79eeec-1c77-4d4c-9c7c-f257e12421d8"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/8a79eeec-1c77-4d4c-9c7c-f257e12421d8/branches/getByModule(module=Listing)
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
