interactions:
- request:
    body: '{"externalIds": [{"type": "AzureOfferID", "value": "o000001"}], "name":
      "oa000002", "resourceType": "AzureContainer", "ID": "o000001", "isModularPublishing":
      true}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: POST
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products
  response:
    body:
      string: '{"resourceType":"AzureContainer","name":"oa000002","externalIDs":[{"type":"AzureOfferId","value":"o000001"}],"isModularPublishing":true,"id":"74142f84-63f6-42a4-b69c-c13d55a7aac0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://api.partner.microsoft.com/v1.0/ingestion/products/74142f84-63f6-42a4-b69c-c13d55a7aac0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products?%24filter=externalIDs%2FAny%28i%3Ai%2Ftype+eq+%27AzureOfferId%27+and+i%2Fvalue+eq+%27o000001%27%29
  response:
    body:
      string: '{"value":[{"resourceType":"AzureContainer","name":"oa000002","externalIDs":[{"type":"AzureOfferId","value":"o000001"}],"isModularPublishing":true,"id":"74142f84-63f6-42a4-b69c-c13d55a7aac0"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/74142f84-63f6-42a4-b69c-c13d55a7aac0/branches/getByModule(module=Listing)
  response:
    body:
      string: '{"value":[{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"c31dfc49-5357-b8d9-707b-ddf40e2f2c07"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/74142f84-63f6-42a4-b69c-c13d55a7aac0/listings/getByInstanceID(instanceID=c31dfc49-5357-b8d9-707b-ddf40e2f2c07)
  response:
    body:
      string: '{"value":[{"resourceType":"AzureListing","listingUris":[],"listingContacts":[],"gettingStartedInstructions":"","languageCode":"en-us","title":"oa000002","keywords":[],"@odata.etag":"\"0300e836-0000-0800-0000-636f3ad90000\"","id":"337a67fb-d112-b2d8-5869-8d158c49ea56"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureListing", "description": "d000005", "title": "oa000002",
      "summary": "os000003", "shortDescription": "sd000004", "@odata.etag": "\"0300e836-0000-0800-0000-636f3ad90000\"",
      "listingUris": [], "listingContacts": []}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/74142f84-63f6-42a4-b69c-c13d55a7aac0/listings/337a67fb-d112-b2d8-5869-8d158c49ea56
  response:
    body:
      string: '{"resourceType":"AzureListing","summary":"os000003","listingUris":[],"listingContacts":[],"languageCode":"en-us","title":"oa000002","description":"d000005","shortDescription":"sd000004","@odata.etag":"\"03000537-0000-0800-0000-636f3adf0000\"","id":"337a67fb-d112-b2d8-5869-8d158c49ea56"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"03000537-0000-0800-0000-636f3adf0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/74142f84-63f6-42a4-b69c-c13d55a7aac0/listings/getByInstanceID(instanceID=c31dfc49-5357-b8d9-707b-ddf40e2f2c07)
  response:
    body:
      string: '{"value":[{"resourceType":"AzureListing","summary":"os000003","listingUris":[],"listingContacts":[],"languageCode":"en-us","title":"oa000002","description":"d000005","shortDescription":"sd000004","@odata.etag":"\"03000537-0000-0800-0000-636f3adf0000\"","id":"337a67fb-d112-b2d8-5869-8d158c49ea56"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
