interactions:
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products?%24filter=externalIDs%2FAny%28i%3Ai%2Ftype+eq+%27AzureOfferId%27+and+i%2Fvalue+eq+%27clitest000001%27%29
  response:
    body:
      string: '{"value":[{"resourceType":"AzureThirdPartyVirtualMachine","name":"clitest000001
        Alias","externalIDs":[{"type":"AzureOfferId","value":"clitest000001"}],"isModularPublishing":true,"id":"3d153867-3c20-40b6-9ef2-0b3feac74a49"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/3d153867-3c20-40b6-9ef2-0b3feac74a49/setup
  response:
    body:
      string: '{"resourceType":"AzureProductSetup","sellingOption":"ListAndSell","trialUri":"","enableTestDrive":false,"channelStates":[{"type":"Reseller","value":"Disabled"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureProductSetup", "enableTestDrive": true, "sellingOption":
      "ListAndSell", "trialUri": "", "channelStates": [{"type": "Reseller", "value":
      "Disabled"}], "testDriveType": "AzureResourceManager"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: POST
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/3d153867-3c20-40b6-9ef2-0b3feac74a49/setup
  response:
    body:
      string: '{"resourceType":"AzureProductSetup","sellingOption":"ListAndSell","trialUri":"","enableTestDrive":true,"testDriveType":"AzureResourceManager","channelStates":[{"type":"Reseller","value":"Disabled"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/3d153867-3c20-40b6-9ef2-0b3feac74a49/setup
  response:
    body:
      string: '{"resourceType":"AzureProductSetup","sellingOption":"ListAndSell","trialUri":"","enableTestDrive":true,"testDriveType":"AzureResourceManager","channelStates":[{"type":"Reseller","value":"Disabled"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
