interactions:
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products?%24filter=externalIDs%2FAny%28i%3Ai%2Ftype+eq+%27AzureOfferId%27+and+i%2Fvalue+eq+%27clitest000002%27%29
  response:
    body:
      string: '{"value":[{"resourceType":"AzureContainer","name":"clitest000002 Alias","externalIDs":[{"type":"AzureOfferId","value":"clitest000002"}],"isModularPublishing":true,"id":"f9bd974b-2f5e-4ec0-8047-d300ec31c938"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/f9bd974b-2f5e-4ec0-8047-d300ec31c938/branches/getByModule(module=Listing)
  response:
    body:
      string: '{"value":[{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"f51f7fd3-fad0-f11d-5a01-57d339bfac1e"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/f9bd974b-2f5e-4ec0-8047-d300ec31c938/listings/getByInstanceID(instanceID=f51f7fd3-fad0-f11d-5a01-57d339bfac1e)
  response:
    body:
      string: '{"value":[{"resourceType":"AzureListing","listingUris":[],"listingContacts":[],"gettingStartedInstructions":"","languageCode":"en-us","title":"clitest000002
        Alias","keywords":[],"@odata.etag":"\"510131ce-0000-0800-0000-638e5dd20000\"","id":"a93070dc-cdfe-6198-10a6-58d579d8f212"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureListing", "description": "", "title": "clitest000002
      Alias", "summary": "", "shortDescription": "", "@odata.etag": "\"510131ce-0000-0800-0000-638e5dd20000\"",
      "listingUris": [{"type": "PrivacyUri", "subtype": "SubTypeUri", "displayText":
      "dt-000001", "uri": "https://testuri"}], "listingContacts": []}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/f9bd974b-2f5e-4ec0-8047-d300ec31c938/listings/a93070dc-cdfe-6198-10a6-58d579d8f212
  response:
    body:
      string: '{"resourceType":"AzureListing","summary":"","listingUris":[{"type":"PrivacyUri","subtype":"SubTypeUri","displayText":"dt-000001","uri":"https://testuri"}],"listingContacts":[],"languageCode":"en-us","title":"clitest000002
        Alias","description":"","shortDescription":"","@odata.etag":"\"510135ce-0000-0800-0000-638e5dda0000\"","id":"a93070dc-cdfe-6198-10a6-58d579d8f212"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"510135ce-0000-0800-0000-638e5dda0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureListing", "description": "", "title": "clitest000002
      Alias", "summary": "", "shortDescription": "", "@odata.etag": "\"510135ce-0000-0800-0000-638e5dda0000\"",
      "listingUris": [], "listingContacts": []}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/f9bd974b-2f5e-4ec0-8047-d300ec31c938/listings/a93070dc-cdfe-6198-10a6-58d579d8f212
  response:
    body:
      string: '{"resourceType":"AzureListing","summary":"","listingUris":[],"listingContacts":[],"languageCode":"en-us","title":"clitest000002
        Alias","description":"","shortDescription":"","@odata.etag":"\"510138ce-0000-0800-0000-638e5de20000\"","id":"a93070dc-cdfe-6198-10a6-58d579d8f212"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"510138ce-0000-0800-0000-638e5de20000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/f9bd974b-2f5e-4ec0-8047-d300ec31c938/listings/getByInstanceID(instanceID=f51f7fd3-fad0-f11d-5a01-57d339bfac1e)
  response:
    body:
      string: '{"value":[{"resourceType":"AzureListing","summary":"","listingUris":[],"listingContacts":[],"languageCode":"en-us","title":"clitest000002
        Alias","description":"","shortDescription":"","@odata.etag":"\"510138ce-0000-0800-0000-638e5de20000\"","id":"a93070dc-cdfe-6198-10a6-58d579d8f212"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
