interactions:
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products?%24filter=externalIDs%2FAny%28i%3Ai%2Ftype+eq+%27AzureOfferId%27+and+i%2Fvalue+eq+%27clitest000002%27%29
  response:
    body:
      string: '{"value":[{"resourceType":"AzureApplication","name":"clitest000002
        Alias","externalIDs":[{"type":"AzureOfferId","value":"clitest000002"}],"isModularPublishing":true,"id":"d12d2ea1-1fe4-4152-8b5e-c7ab22b70c7f"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/d12d2ea1-1fe4-4152-8b5e-c7ab22b70c7f/branches/getByModule(module=Listing)
  response:
    body:
      string: '{"value":[{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"a3343618-63b9-98bd-b6b5-41c3d6f0fbf7"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/d12d2ea1-1fe4-4152-8b5e-c7ab22b70c7f/listings/getByInstanceID(instanceID=a3343618-63b9-98bd-b6b5-41c3d6f0fbf7)
  response:
    body:
      string: '{"value":[{"resourceType":"AzureListing","listingUris":[],"listingContacts":[],"gettingStartedInstructions":"","languageCode":"en-us","title":"clitest000002
        Alias","keywords":[],"@odata.etag":"\"6a022fbd-0000-0800-0000-6802710c0000\"","id":"cf2d5662-0711-640d-afcd-284ef5ff6987"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureListing", "description": "Unreal Cloud DDC for Unreal
      Engine game development.", "title": "clitest000002 Alias", "summary": "A storage
      offer for Unreal Engine Game Developers", "shortDescription": "Unreal Cloud
      DDC for Unreal Engine game development.", "@odata.etag": "\"6a022fbd-0000-0800-0000-6802710c0000\"",
      "listingUris": [], "listingContacts": []}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/d12d2ea1-1fe4-4152-8b5e-c7ab22b70c7f/listings/cf2d5662-0711-640d-afcd-284ef5ff6987
  response:
    body:
      string: '{"resourceType":"AzureListing","summary":"A storage offer for Unreal
        Engine Game Developers","listingUris":[],"listingContacts":[],"languageCode":"en-us","title":"clitest000002
        Alias","description":"Unreal Cloud DDC for Unreal Engine game development.","shortDescription":"Unreal
        Cloud DDC for Unreal Engine game development.","@odata.etag":"\"6a0255bf-0000-0800-0000-680271130000\"","id":"cf2d5662-0711-640d-afcd-284ef5ff6987"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"6a0255bf-0000-0800-0000-680271130000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureSkuVariant", "friendlyName": "plantest-000003name",
      "externalID": "plantest-000003", "SubType": "managed-application"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: POST
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/d12d2ea1-1fe4-4152-8b5e-c7ab22b70c7f/variants
  response:
    body:
      string: '{"resourceType":"AzureSkuVariant","state":"Active","friendlyName":"plantest-000003name","conversionPaths":"*","externalID":"plantest-000003","certificationsAzureGovernment":[],"cloudAvailabilities":["public-azure"],"subType":"managed-application","extendedProperties":[],"@odata.etag":"\"53004afc-0000-0800-0000-680271150000\"","id":"8973ccdc-92aa-48e8-9dec-81d063f939dc"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"53004afc-0000-0800-0000-680271150000"'
      location:
      - https://api.partner.microsoft.com/v1.0/ingestion/products/d12d2ea1-1fe4-4152-8b5e-c7ab22b70c7f/variants/8973ccdc-92aa-48e8-9dec-81d063f939dc
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/d12d2ea1-1fe4-4152-8b5e-c7ab22b70c7f/branches/getByModule(module=Listing)
  response:
    body:
      string: '{"value":[{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"a3343618-63b9-98bd-b6b5-41c3d6f0fbf7"},{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"5e1d9121-74c3-4ac5-ac4b-0d00ee05cf89","variantID":"8973ccdc-92aa-48e8-9dec-81d063f939dc"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureListing", "listingUris": [], "listingContacts":
      [], "gettingStartedInstructions": "", "languageCode": "en-us", "title": "plantest-000003name",
      "keywords": [], "@odata.etag": "\"6a0234c0-0000-0800-0000-680271170000\"", "ID":
      "569a687e-06a7-bf9e-8415-54d1b703ca50", "shortDescription": "Unreal Cloud DDC
      for Unreal Engine game development.", "description": "Unreal Cloud DDC for Unreal
      Engine game development."}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/d12d2ea1-1fe4-4152-8b5e-c7ab22b70c7f/listings/569a687e-06a7-bf9e-8415-54d1b703ca50
  response:
    body:
      string: '{"resourceType":"AzureListing","listingUris":[],"listingContacts":[],"gettingStartedInstructions":"","languageCode":"en-us","title":"plantest-000003name","description":"Unreal
        Cloud DDC for Unreal Engine game development.","shortDescription":"Unreal
        Cloud DDC for Unreal Engine game development.","keywords":[],"@odata.etag":"\"6a02bac2-0000-0800-0000-680271230000\"","id":"569a687e-06a7-bf9e-8415-54d1b703ca50"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"6a02bac2-0000-0800-0000-680271230000"'
    status:
      code: 200
      message: OK
version: 1
