interactions:
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products?%24filter=externalIDs%2FAny%28i%3Ai%2Ftype+eq+%27AzureOfferId%27+and+i%2Fvalue+eq+%27clitest000002%27%29
  response:
    body:
      string: '{"value":[{"resourceType":"AzureApplication","name":"clitest000002
        Alias","externalIDs":[{"type":"AzureOfferId","value":"clitest000002"}],"isModularPublishing":true,"id":"38d7b017-6c71-4af5-a900-801ba4569590"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/38d7b017-6c71-4af5-a900-801ba4569590/branches/getByModule(module=Listing)
  response:
    body:
      string: '{"value":[{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"13094e16-1eba-2d1b-9d75-dd393fb5547d"},{"resourceType":"Branch","friendlyName":"Main","type":"Main","module":"Listing","currentDraftInstanceID":"20c9a8c6-cdf7-a7a8-3113-32742177c1b9","variantID":"testdrive"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/38d7b017-6c71-4af5-a900-801ba4569590/listings/getByInstanceID(instanceID=13094e16-1eba-2d1b-9d75-dd393fb5547d)
  response:
    body:
      string: '{"value":[{"resourceType":"AzureListing","listingUris":[],"listingContacts":[],"gettingStartedInstructions":"","languageCode":"en-us","title":"clitest000002
        Alias","keywords":[],"@odata.etag":"\"7e003cd5-0000-0800-0000-648f87220000\"","id":"535f9062-b68c-5b50-0199-18ab422987f7"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureListing", "description": "Unreal Cloud DDC for Unreal
      Engine game development.", "title": "clitest000002 Alias", "summary": "A storage
      offer for Unreal Engine Game Developers", "shortDescription": "Unreal Cloud
      DDC for Unreal Engine game development.", "@odata.etag": "\"7e003cd5-0000-0800-0000-648f87220000\"",
      "listingUris": [], "listingContacts": []}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/38d7b017-6c71-4af5-a900-801ba4569590/listings/535f9062-b68c-5b50-0199-18ab422987f7
  response:
    body:
      string: '{"resourceType":"AzureListing","summary":"A storage offer for Unreal
        Engine Game Developers","listingUris":[],"listingContacts":[],"languageCode":"en-us","title":"clitest000002
        Alias","description":"Unreal Cloud DDC for Unreal Engine game development.","shortDescription":"Unreal
        Cloud DDC for Unreal Engine game development.","@odata.etag":"\"7e006bd5-0000-0800-0000-648f872c0000\"","id":"535f9062-b68c-5b50-0199-18ab422987f7"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7e006bd5-0000-0800-0000-648f872c0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: GET
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/38d7b017-6c71-4af5-a900-801ba4569590/setup
  response:
    body:
      string: '{"resourceType":"AzureProductSetup","sellingOption":"ListAndSell","trialUri":"","enableTestDrive":false,"channelStates":[{"type":"Reseller","value":"Disabled"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceType": "AzureSkuVariant", "friendlyName": "plantest-000003name",
      "externalID": "plantest-000003", "SubType": "managed-application"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: POST
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/38d7b017-6c71-4af5-a900-801ba4569590/variants
  response:
    body:
      string: '{"resourceType":"AzureSkuVariant","state":"Active","friendlyName":"plantest-000003name","conversionPaths":"*","externalID":"plantest-000003","certificationsAzureGovernment":[],"cloudAvailabilities":["public-azure"],"subType":"managed-application","extendedProperties":[],"@odata.etag":"\"9606805a-0000-0800-0000-648f87320000\"","id":"1c3fe3a3-ab24-4a8d-b27f-7d166bb39b2e"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9606805a-0000-0800-0000-648f87320000"'
      location:
      - https://api.partner.microsoft.com/v1.0/ingestion/products/38d7b017-6c71-4af5-a900-801ba4569590/variants/1c3fe3a3-ab24-4a8d-b27f-7d166bb39b2e
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"resourceType": "AzureListing", "listingUris": [], "listingContacts":
      [], "gettingStartedInstructions": "", "languageCode": "en-us", "title": "plantest-000003name",
      "keywords": [], "@odata.etag": "\"7e0099d5-0000-0800-0000-648f87350000\"", "ID":
      "556cba90-437d-7daa-0a38-4025abe72ea2", "shortDescription": "Unreal Cloud DDC
      for Unreal Engine game development.", "description": "Unreal Cloud DDC for Unreal
      Engine game development."}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://api.partner.microsoft.com/v1.0/ingestion/products/38d7b017-6c71-4af5-a900-801ba4569590/listings/556cba90-437d-7daa-0a38-4025abe72ea2
  response:
    body:
      string: '{"resourceType":"AzureListing","listingUris":[],"listingContacts":[],"gettingStartedInstructions":"","languageCode":"en-us","title":"plantest-000003name","description":"Unreal
        Cloud DDC for Unreal Engine game development.","shortDescription":"Unreal
        Cloud DDC for Unreal Engine game development.","keywords":[],"@odata.etag":"\"7e00bcd5-0000-0800-0000-648f87420000\"","id":"556cba90-437d-7daa-0a38-4025abe72ea2"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7e00bcd5-0000-0800-0000-648f87420000"'
    status:
      code: 200
      message: OK
version: 1
