name: Python CI
on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  azdev-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: azdev setup
        run: |
          python -m venv env
          source env/bin/activate
          pip install azdev==0.1.48

          azdev setup -r .
          azdev extension repo add .
          azdev extension add partnercenter
      - name: azdev style
        run: |
          source env/bin/activate
          azdev style partnercenter
      - name: azdev linter
        run: |
          source env/bin/activate
          azdev linter partnercenter

  azdev-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - run: |
          python -m venv env
          source env/bin/activate
          pip install azdev==0.1.48
          azdev setup -r .
          azdev extension repo add ../partnercenter-cli-extension/
          azdev extension add partnercenter
      - name: azdev test
        run: |
          source env/bin/activate
          azdev test partnercenter --series
